/* CSS Document */
.head{ padding:15px 0;}
.head-p{ font-size:16px; color:#333;}
.nav-bg{ background:#2b5909;}
#nav-ul>li{ width:18%;}
#nav-ul>li>a{ color:#fff; font-size:14px; text-align:center;}
#nav-ul>li.active,#nav-ul>li.active>a{ background:#2b5909;}
#nav-ul>li:hover,#nav-ul>li>a:hover{ background:#fff; color:#2b5909;}
/*banner*/
.banner{ text-align:center; padding:10px 0;}
.pro-ul li{ float:left; margin:0 10px; list-style:none;}
/**/
.col-md-9,.col-md-3,.col-md-8,.col-md-4{ border:1px solid #eee; min-height:320px;}
.row h3{ color:#333; border-left:2px solid #2b5909; font-size:18px; text-indent:1em;}
.row h5{ text-align:center; line-height:180%; border-bottom:1px solid #eee;}
/*foot*/
.footer{ padding:20px 0; width: 100%; background: #545454;}
.footer p{ font-size:12px;color: #cbcbcb; text-align:left;  line-height: 25px;}
.footer .container>ul>li>a{  font-size:12px;color: #cbcbcb; }